<h1><%= @profile.name %></h1>

<h4><%= @profile.location %></h4>
<p><%= @profile.description %></p>

<% @profile.products.each do |product| %>
  <p> product.name </p>
  <p> product.description </p>
<% end %>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
