<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col s12 white-text center">
          <h5>About this page</h5>
          <p class="white-text">This page has been coded during the <a class="light-grey" target="_blank" href="https://www.lewagon.com/program">FullStack program @LeWagon</a>.
          </p>
          <div class="row">
            <div class="col s4">
              <a href="#"><i class="fa fa-heart white-text"></i></a>
            </div>
            <div class="col s4">
              <a href="#"><i class="fa fa-share white-text"></i></a>
            </div>
            <div class="col s4">
              <a href="#"><i class="fa fa-star white-text"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>