@import "utilities";
@import "footer";
@import "navbar";

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.product-card {
	margin: 15px;
}

.card-block {
	padding: 10px;
}

.card-block > p {
	color: #808080;
}

input.form-control.banner-input.input-md {
  color: white;
}

.navbar-wagon-button {
	border-color: #00aa9a !important;
}

.prod-show-card {
	height: 400px;
}

.prod-title > h1 {
	color: #424242;
}

.price-text {
	color: #00aa9a !important;
}

.prod-reviews-card {
	padding-top: 20px !important;
	margin-top: 20px !important;
	padding-bottom: 20px !important;
	margin-bottom: 20px !important;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-content: vertical;
}

.emergency-padding {
	padding: 20px 0 20px 0;
}